body {
  background: url(https://media4.giphy.com/media/26gs7byN2JOXsBiuY/source.gif)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

input.textbox {
  width: 250px;
  font-size: 17px;
  height: 35px;
  padding: 5px 10px;
  margin: 15px 0px 0px 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

.dayOfWeek {
  font-size: 25px;
  padding: 0px 10px;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
}

.temp {
  font-size: 20px;
  text-align: right;
  padding: 0px 10px;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
}

canvas {
  padding: 0px;
}

.main-icon {
  max-width: 80px;
  margin: 0px;
}

h1 {
  font-size: 45px;
  line-height: 60px;
  margin: 0 auto;
  font-weight: normal;
  padding: 0px, 5px;
  text-transform: capitalize;
  color: #5a454b;
  text-shadow: 2px 2px #000;
  font-family: "Shrikhand", cursive;
}

h6.dateTime {
  font-size: 20px;
  margin: 20px 0px 0px 20px;
  text-align: left;
  color: #5a454b;
  text-shadow: 0.5px 0.5px #000;
  font-family: "Montserrat", sans-serif;
}

div.strong-side.col {
  max-width: 250px;
  padding: 0px;
}

.currentTemp {
  font-size: 75px;
  text-align: left;
  line-height: 60px;
  padding: 10px 0px 0px 0px;
  font-weight: normal;
  margin: 0px;
  font-family: "Shrikhand", cursive;
}

#current-temp {
  color: #5a454b;
  text-shadow: 2px 2px #000;
}

h1.city {
  padding: 10px 0px 2px 0px;
  text-align: left;
  color: #5a454b;
  text-shadow: 1px 1px #000;
}

#f-link,
#c-link,
.line {
  text-align: right;
  font-size: 20px;
  position: relative;
  top: -50px;
  text-decoration: none;
}

#weather {
  text-align: right;
  padding: 8px 0px 5px 0px;
  margin: 0px;
  max-width: 200px;
}

.foot {
  font-family: "Courier New", Courier, monospace;
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
}

#button-loc {
  background: rgba(143, 195, 86, 0.7);
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
}

#button {
  border-radius: 5px;
  border: 1px solid black;
  height: 35px;
  margin: 0px 3px;
  font-weight: bold;
}

.loader {
  margin: 0 auto;
  padding: 0px 80px;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 730px) {
  input.textbox {
    width: 220px;
    font-size: 17px;
    height: 35px;
    padding: 5px 10px;
    margin: 15px 0px 0px 20px;
  }

  h6.dateTime {
    font-size: 20px;
    margin: 20px 0px 0px 30px;
    text-align: left;
    color: #5a454b;
  }

  h1 {
    font-size: 35px;
    line-height: 45px;
    margin: 0 auto;
    padding: 0px, 5px;
  }

  .currentTemp {
    font-size: 65px;
  }

  #f-link,
  #c-link,
  .line {
    text-align: center;
    font-size: 17px;
    position: relative;
    top: -50px;
    text-decoration: none;
  }

  .main-icon {
    max-width: 100px;
    margin: 0px 10px;
  }

  #weather {
    text-align: right;
    padding: 3px 0px 5px 0px;
    margin: 0px;
  }
}
