body {
  background: url(https://media4.giphy.com/media/26gs7byN2JOXsBiuY/source.gif)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

div.primary-container {
  border: 4px dashed #5a454b;
  border-radius: 10px;
  max-width: 725px;
  margin: 70px auto 0px;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0px 20px 0px 0px;
}

div.forecast.container {
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
  padding: 10px 0px 0px 45px;
}

.day {
  text-decoration: underline;
  color: #5a454b;
}

div.col {
  padding: 0px;
}

div.day-box-row.row {
  max-width: 300px;
}

div.main-icon.col {
  padding: 0px;
}

.day-box {
  border: 1px dashed black;
  border-radius: 10px;
  padding: 0px;
  margin: 0 auto;
  max-width: 75px;
}


input.textbox {
  width: 205px;
  font-size: 17px;
  height: 35px;
  padding: 5px 10px;
  margin: 15px 0px 0px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.dayOfWeek {
  font-size: 25px;
  padding: 0px 10px;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
}

.temp {
  font-size: 20px;
  text-align: right;
  padding: 0px 10px;
  color: #fff;
  text-shadow: 0.5px 0.5px #000;
}


.main-icon {
  max-width: 50px;
  margin: 0 auto;
}

h1 {
  font-size: 56.5px;
  line-height: 60px;
  margin: 0 auto;
  font-weight: bold;
  padding: 0px, 5px;
  text-transform: capitalize;
  color: #5a454b;
  text-shadow: 2px 2px #000;
}

.dateTime,
span.wind-humidity {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  text-align: right;
  color: #5a454b;
  text-shadow: 0.5px 0.5px #000;
}

.currentTemp {
  font-size: 85px;
  text-align: right;
  line-height: 60px;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
  margin: 0px;
}

#current-temp {
  color: #5a454b;
  text-shadow: 2px 2px #000;
}

h1.city {
  padding: 10px 0px 2px 0px;
  text-align: right;
  color: #5a454b;
  text-shadow: 1px 1px #000;
}

#f-link,
#c-link,
.line {
  text-align: right;
  font-size: 20px;
  position: relative;
  top: -50px;
  text-decoration: none;
}

#weather {
  text-align: right;
  padding: 8px 0px 0px 0px;
  margin: 0px;
}

.foot {
  font-family: "Courier New", Courier, monospace;
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}

#button-loc {
  background: #92d48e;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

#button {
  border-radius: 5px;
  border: 1px solid black;
  height: 35px;
  margin: 0px 3px;
  font-weight: bold;
}

a#f-link.active {
  color: black;
  cursor: default;
}

a#c-link.active {
  color: black;
  cursor: default;
}

#f-link .active:hover {
  text-decoration: none;
}

#sun-icon,
#mon-icon,
#tues-icon,
#wed-icon,
#thurs-icon,
#fri-icon,
#sat-icon {
  width: 40px;
}
